#primary_nav li a {
border-bottom:1px solid #383838;
color:#fff;
display:block;
font-weight:400;
height:32px;
letter-spacing:1.6px;
line-height:32px;
padding:0 20px;
text-decoration:none;
text-transform:uppercase;
}

    #primary_nav li a:hover,#primary_nav li a:focus {
    background:#ccc;
    color:#44484e;
    }

#primary_nav ul {
background:#44484e;
list-style:none;
width:100%;
}

.container {
width:100%;
}

/*Images*/
.bell {
padding-right:20px;
padding-top:7px;
width:15px;
}

.eye {
width:20px;
}

.logo {
width:70px;
}

.right-mobile {
display:inline;
float:right;
width:200px;
}

@font-face {
font-family:proximanova;
font-weight:lighter;
src:url(../fonts/proximanova-semibold-webfont.ttf), url(../fonts/proximanova-semibold-webfont.woff),
url(../fonts/proximanova-semibold-webfont.eot);
}

a {
color:#1D745A;
}

a.to_nav {
-moz-border-radius:2px;
-webkit-border-radius:2px;
background:#4e4e4e;
border-radius:2px;
color:#fff;
font-size:12px;
font-weight:400;
height:22px;
letter-spacing:1.6px;
line-height:22px;
margin-right:10px;
padding:0 10px;
text-decoration:none;
text-transform:uppercase;
}

article {
border-bottom:1px solid #d8d8d8;
margin:10px 0;
padding:10px 20px 0;
}

body {
color:#4c5159;
font-family:proximanova;
overflow-x:hidden;
}

h2 {
font-family:proximanova;
font-size:28px;
font-weight:400;
line-height:22.4px;
margin:0 0 6.4px;
}

header {
background:#44484e;
padding:15px 20px;
width:100%;
zoom:1;
}

    header:after {
    clear:both;
    }

    header:before,header:after {
    content:"";
    display:table;
    }

hr {
display:block;
margin-top:10px;
width:90%;
}

p,ul {
margin:0 0 24px;
}

ul {
list-style:disc;
padding:0 0 0 20px;
}

/*media queries*/

@media only screen and (min-width: 768px) {

#primary_nav {
background:none;
float:left;
margin-left:100px;
position:absolute;
top:15px;
width:100%;
}

    #primary_nav li {
    display:inline;
    }

        #primary_nav li a {
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border:none;
        border-radius:2px;
        float:left;
        padding:0 10px;
        }

.right {
float:right;
margin-right:160px;
}

.wrapper {
position:relative;
width:100%;
}

a.to_nav,#primary_nav li.top,.right-mobile {
display:none;
}
}

.dropdown ul {
list-style:none;
}

.dropdown-div {
display:none;
margin-top:60px;
}

    .dropdown-div img {
    display:none;
    padding-right:5px;
    width:12px;
    }

.dropdown-div nav,.dropdown-div ul,.dropdown-div li,.dropdown-div a {
margin:0;
padding:0;
}

.sub-drop {
display:block;
float:none!important;
margin-bottom:50px;
margin-left:auto;
margin-right:auto;
}

    .sub-drop:hover {
    background:none!important;
    color:#0093d0!important;
    }
