<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" type="css" href="../assets/css/_header.css">
        </head>
        <body>
            <div class="container">
                <ul>
                    <li><a href="#">Audiences</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Objectives</a></li>
                    <li><a href="#">User Account</a></li>
            </div>
        </body>
    </html>